DISCORD_TOKEN=your_bot_token_here
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_GUILD_ID=your_guild_id_here
REQUESTS_CHANNEL_ID=your_channel_id_here
NOTIFY_CHANNEL_ID=your_notify_channel_id_here
SEER_URL=http://192.168.1.100:5055
SEER_API_KEY=your_seer_api_key_here
LIBRARY_1_NAME=Movies
LIBRARY_1_TYPE=movie
LIBRARY_1_SERVER_ID=0
LIBRARY_2_NAME=TV Shows
LIBRARY_2_TYPE=tv
LIBRARY_2_SERVER_ID=0
ALLOWED_ROLE_ID=
ADMIN_ROLE_ID=
